#canvas {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 1px solid black;
}

#start {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

.loading-message {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-message span {
	margin: 0 auto;
	font-style: italic;
}

.what-is {
    margin-bottom: 50px;
}